In [113]:
# Initial imports.
import pandas as pd
import numpy as np
import sqlalchemy
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

# Upload and Transform Data

In [143]:
# Create the engine to connect to the PostgreSQL database
engine = sqlalchemy.create_engine('postgresql://postgres:districtdata@districtdata.ckva5djfpzaj.us-east-1.rds.amazonaws.com:5432/District Data')
sql_query='''
SELECT * FROM district_demographics
JOIN district_scores
ON district_demographics.district=district_scores.district
'''
my_dataframe=pd.read_sql(sql_query,con=engine)
my_dataframe.head()

,district,county,district_type,enrollment,frl,disadv,el,grad,teach_to_stud,susp,chronic_absent,per_pupil_exp,teacher_salary,avg_yrs_teaching,district,math_metabove,ela_metabove
0,Happy Camp Union Elementary (Siskiyou),Siskiyou,Elementary School District,110,77.3,77.27,NaN,NaN,NaN,7.9,29.5,13585,76081,NaN,Happy Camp Union Elementary (Siskiyou),9.23,17.91
1,Shoreline Unified (Marin),Marin,Unified School District,508,66.9,68.90,42.1,94.3,NaN,3.7,17.7,29742,87808,NaN,Shoreline Unified (Marin),27.41,43.63
2,Cienega Union Elementary (San Benito),San Benito,Elementary School District,25,32.0,44.00,28.0,NaN,0.0,0.0,6.3,11515,76081,NaN,Cienega Union Elementary (San Benito),35.00,42.11
3,Alpine County Office of Education (Alpine),Alpine,County Office of Education (COE),6023,0.0,0.00,NaN,NaN,0.0,NaN,NaN,14708,76081,NaN,Alpine County Office of Education (Alpine),37.20,48.30
4,Arena Union Elementary/Point Arena Joint Union...,Mendocino,Common Administration District,6023,56.8,60.00,18.4,NaN,20.2,3.5,13.1,22151,57730,NaN,Arena Union Elementary/Point Arena Joint Union...,37.30,48.30

In [115]:
# # Read the CSV file into a Pandas DataFrame
# districts = pd.read_csv('District_data.csv')
# districts = districts.replace('redacted',0)
# districts.head()

In [144]:
# Create a binary variable showing whether a district has above 50% proficiency or below.
districts['Math_metAbove50'] = np.where(districts['Math_metAbove'] >= 50, True, False)
districts['ELA_metAbove50'] = np.where(districts['ELA_metAbove'] >= 50, True, False)
districts['Math_metAbove50'] = districts['Math_metAbove50'].astype(int)
districts['ELA_metAbove50'] = districts['ELA_metAbove50'].astype(int)
districts.head(30)

,District,County,District_type,Enrollment,FRL_Perc,Disadv_Perc,EL_Perc,Grad_Perc,Teach_to_stud,Susp_Perc,Chronic_absent,Math_metAbove,ELA_metAbove,Per_pupil_exp,Teacher_salary,Avg_years_teaching,Math_metAbove50,ELA_metAbove50
0,Happy Camp Union Elementary (Siskiyou),Siskiyou,Elementary School District,110,77.3,77.27,18.437052,84.5431,20.193016,7.9,29.5,9.23,17.91,13585,76081,9.894221,0,0
1,Shoreline Unified (Marin),Marin,Unified School District,508,66.9,68.90,42.100000,94.3000,20.193016,3.7,17.7,27.41,43.63,29742,87808,9.894221,0,0
2,Cienega Union Elementary (San Benito),San Benito,Elementary School District,25,32.0,44.00,28.000000,84.5431,0.000000,0,6.3,35.00,42.11,11515,76081,9.894221,0,0
3,Alpine County Office of Education (Alpine),Alpine,County Office of Education (COE),6023,0.0,0.00,18.437052,84.5431,0.000000,NaN,NaN,37.20,48.30,14708,76081,9.894221,0,0
4,Arena Union Elementary/Point Arena Joint Union...,Mendocino,Common Administration District,6023,56.8,60.00,18.400000,84.5431,20.200000,3.5,13.1,37.30,48.30,22151,57730,9.894221,0,0
5,Modesto City Schools (Stanislaus),Stanislaus,Common Administration District,6023,56.8,60.00,18.400000,84.5431,20.200000,3.5,13.1,37.30,48.30,13243,93066,9.894221,0,0
6,Petaluma City Elementary/Joint Union High (Son...,Sonoma,Common Administration District,6023,56.8,60.00,18.400000,84.5431,20.200000,3.5,13.1,37.30,48.30,12477,72581,9.894221,0,0
7,Santa Cruz City Elementary/High (Santa Cruz),Santa Cruz,Common Administration District,6023,56.8,60.00,18.400000,84.5431,20.200000,3.5,13.1,37.30,48.30,14533,77764,9.894221,0,0
8,Santa Rosa City Schools (Sonoma),Sonoma,Common Administration District,6023,56.8,60.00,18.400000,84.5431,20.200000,3.5,13.1,37.30,48.30,13576,74869,9.894221,0,0
9,SBE - Celerity Rolas (Los Angeles),Los Angeles,State Board of Education Charter,6023,56.8,60.00,18.400000,84.5431,20.200000,3.5,13.1,37.30,48.30,14708,76081,9.894221,0,0
10,SBE - Paramount Collegiate Academy (Sacramento),Sacramento,State Board of Education Charter,6023,56.8,60.00,18.400000,84.5431,20.200000,3.5,13.1,37.30,48.30,14708,76081,9.894221,0,0
11,SBE - Wei Yu International Charter (Santa Clara),Santa Clara,State Board of Education Charter,6023,56.8,60.00,18.400000,84.5431,20.200000,3.5,13.1,37.30,48.30,14708,76081,9.894221,0,0
12,Southside Elementary (San Benito),San Benito,Elementary School District,213,21.6,27.70,16.000000,84.5431,20.193016,2.2,6.8,50.00,68.53,9051,76081,9.894221,1,1
13,Knights Ferry Elementary (Stanislaus),Stanislaus,Elementary School District,153,22.2,28.10,7.200000,84.5431,20.193016,2.5,12.4,51.69,51.14,9294,48985,9.894221,1,1
14,Magnolia Union Elementary (Imperial),Imperial,Elementary School District,141,17.7,20.57,5.000000,84.5431,20.193016,0,1.4,57.30,63.33,10083,76081,9.894221,1,1
15,Elkins Elementary (Tehama),Tehama,Elementary School District,13,92.3,92.31,18.437052,84.5431,13.000000,0,28.6,37.20,48.30,14967,76081,33.000000,0,0
16,Montgomery Elementary (Sonoma),Sonoma,Elementary School District,33,45.5,45.45,3.000000,84.5431,11.000000,0,44.1,71.43,50.00,26233,66129,25.000000,1,1
17,Klamath River Union Elementary (Siskiyou),Siskiyou,Elementary School District,12,75.0,75.00,18.437052,84.5431,12.000000,7.7,23.1,37.20,48.30,22222,76081,24.000000,0,0
18,Sierra County Office of Education (Sierra),Sierra,County Office of Education (COE),6023,0.0,0.00,18.437052,84.5431,0.000000,NaN,NaN,37.20,48.30,14708,76081,21.000000,0,0
19,Montebello Unified (Los Angeles),Los Angeles,Unified School District,25409,82.6,87.61,33.200000,80.9000,24.100000,3,13.4,23.88,36.73,13362,97044,18.000000,0,0
20,Vista del Mar Union (Santa Barbara),Santa Barbara,Elementary School District,51,39.2,43.14,27.500000,84.5431,10.900000,1.9,21.2,27.27,30.30,30193,76081,18.000000,0,0
21,Bitterwater-Tully Elementary (San Benito),San Benito,Elementary School District,35,25.7,34.29,11.400000,84.5431,17.500000,0,7.9,28.00,68.00,10086,76081,18.000000,0,1
22,Mountain View Elementary (Los Angeles),Los Angeles,Elementary School District,6346,92.2,95.10,55.500000,84.5431,21.000000,1.8,7.4,28.38,39.57,10609,97079,18.000000,0,0
23,Richgrove Elementary (Tulare),Tulare,Elementary School District,589,96.1,97.79,65.500000,84.5431,20.300000,3.8,8.5,13.27,19.80,15801,79595,17.000000,0,0
24,El Rancho Unified (Los Angeles),Los Angeles,Unified School District,8472,71.7,74.99,17.700000,91.4000,21.700000,2.9,10.5,28.79,43.34,12467,81373,17.000000,0,0
25,Summerville Elementary (Tuolumne),Tuolumne,Elementary School District,409,45.7,45.72,0.200000,84.5431,20.000000,1.6,15.3,32.31,46.39,10788,76081,17.000000,0,0
26,Ojai Unified (Ventura),Ventura,Unified School District,2453,50.2,52.70,14.100000,92.0000,22.400000,3.5,10.8,32.68,43.66,11470,67056,17.000000,0,0
27,Bassett Unified (Los Angeles),Los Angeles,Unified School District,3520,93.1,94.21,27.500000,96.0000,21.900000,2.7,11,32.81,47.33,13004,82204,17.000000,0,0
28,Valle Lindo Elementary (Los Angeles),Los Angeles,Elementary School District,1087,82.3,83.01,9.500000,84.5431,21.300000,1.8,7.1,39.25,52.67,12505,103682,17.000000,0,1
29,Buena Park Elementary (Orange),Orange,Elementary School District,4552,68.6,77.27,39.800000,84.5431,22.800000,2.1,6.9,40.25,44.86,13151,92155,17.000000,0,0

In [145]:
# Rename average years of teaching column.
districts = districts.rename(columns={"Avg Years Teaching (District)": "Avg_years_teaching"})
districts

,District,County,District_type,Enrollment,FRL_Perc,Disadv_Perc,EL_Perc,Grad_Perc,Teach_to_stud,Susp_Perc,Chronic_absent,Math_metAbove,ELA_metAbove,Per_pupil_exp,Teacher_salary,Avg_years_teaching,Math_metAbove50,ELA_metAbove50
0,Happy Camp Union Elementary (Siskiyou),Siskiyou,Elementary School District,110,77.3,77.27,18.437052,84.5431,20.193016,7.9,29.5,9.23,17.91,13585,76081,9.894221,0,0
1,Shoreline Unified (Marin),Marin,Unified School District,508,66.9,68.90,42.100000,94.3000,20.193016,3.7,17.7,27.41,43.63,29742,87808,9.894221,0,0
2,Cienega Union Elementary (San Benito),San Benito,Elementary School District,25,32.0,44.00,28.000000,84.5431,0.000000,0,6.3,35.00,42.11,11515,76081,9.894221,0,0
3,Alpine County Office of Education (Alpine),Alpine,County Office of Education (COE),6023,0.0,0.00,18.437052,84.5431,0.000000,NaN,NaN,37.20,48.30,14708,76081,9.894221,0,0
4,Arena Union Elementary/Point Arena Joint Union...,Mendocino,Common Administration District,6023,56.8,60.00,18.400000,84.5431,20.200000,3.5,13.1,37.30,48.30,22151,57730,9.894221,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031,Lincoln Elementary (Marin),Marin,Elementary School District,4,0.0,0.00,18.437052,84.5431,0.000000,0,0,37.20,48.30,86414,76081,1.000000,0,0
1032,SBE - KIPP Bayview Elementary (San Francisco),San Francisco,State Board of Education Charter,140,90.0,90.00,2.100000,84.5431,35.000000,7.4,37.1,37.20,48.30,14708,76081,1.000000,0,0
1033,SBE - KIPP Navigate College Prep (Santa Clara),Santa Clara,State Board of Education Charter,178,75.3,82.02,14.600000,84.5431,22.300000,7.1,11.3,37.20,48.30,14708,76081,1.000000,0,0
1034,Forks of Salmon Elementary (Siskiyou),Siskiyou,Elementary School District,9,100.0,100.00,18.400000,84.5431,9.000000,3.5,13.1,37.30,48.30,31008,76081,1.000000,0,0
1035,SBE - Baypoint Preparatory Academy San Diego (...,San Diego,State Board of Education Charter,176,30.4,32.91,4.000000,84.5431,18.300000,3.6,16.7,50.00,47.73,14708,76081,1.000000,1,0

In [146]:
# Replace NaaNs with means.
districts = districts.fillna(districts.mean())

# Predicting ELA Proficiency

In [147]:
# Define the feature set.
X = districts[["Enrollment","FRL_Perc","Teach_to_stud","Per_pupil_exp","Teacher_salary","Avg_years_teaching"]]
X.head()

,Enrollment,FRL_Perc,Teach_to_stud,Per_pupil_exp,Teacher_salary,Avg_years_teaching
0,110,77.3,20.193016,13585,76081,9.894221
1,508,66.9,20.193016,29742,87808,9.894221
2,25,32.0,0.000000,11515,76081,9.894221
3,6023,0.0,0.000000,14708,76081,9.894221
4,6023,56.8,20.200000,22151,57730,9.894221

In [148]:
# Define the target set.
y = districts['ELA_metAbove50']
y[:5]

0    0
1    0
2    0
3    0
4    0
Name: ELA_metAbove50, dtype: int64

In [149]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=.8, random_state=78)

In [150]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [151]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

In [152]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [153]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [154]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0          112           20
Actual 1           25           51

In [155]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.7836538461538461

In [156]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          112           20
Actual 1           25           51

Accuracy Score : 0.7836538461538461
Classification Report
              precision    recall  f1-score   support

           0       0.82      0.85      0.83       132
           1       0.72      0.67      0.69        76

    accuracy                           0.78       208
   macro avg       0.77      0.76      0.76       208
weighted avg       0.78      0.78      0.78       208

In [157]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.10226097, 0.46834315, 0.11616291, 0.13040875, 0.10886763,
       0.07395658])

In [158]:
# Sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.4683431525404684, 'FRL_Perc'),
 (0.13040875392183546, 'Per_pupil_exp'),
 (0.11616290925618719, 'Teach_to_stud'),
 (0.10886763216732571, 'Teacher_salary'),
 (0.10226097426873373, 'Enrollment'),
 (0.07395657784544955, 'Avg_years_teaching')]

# Predicting Math Proficiency

In [159]:
# Define the target set.
y = districts['Math_metAbove50']
y[:5]

0    0
1    0
2    0
3    0
4    0
Name: Math_metAbove50, dtype: int64

In [160]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=.8, random_state=78)

# Consider random state of 42.

In [161]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [162]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

In [163]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [164]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [165]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0          167            2
Actual 1           16           23

In [166]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.9134615384615384

In [139]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          167            2
Actual 1           16           23

Accuracy Score : 0.9134615384615384
Classification Report
              precision    recall  f1-score   support

           0       0.91      0.99      0.95       169
           1       0.92      0.59      0.72        39

    accuracy                           0.91       208
   macro avg       0.92      0.79      0.83       208
weighted avg       0.91      0.91      0.91       208

In [140]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.09210965, 0.49427481, 0.09375278, 0.14002969, 0.12966254,
       0.05017052])

In [141]:
# Sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.49427481045985777, 'FRL_Perc'),
 (0.1400296910713322, 'Per_pupil_exp'),
 (0.12966253797135022, 'Teacher_salary'),
 (0.09375278397884695, 'Teach_to_stud'),
 (0.09210965465628876, 'Enrollment'),
 (0.0501705218623241, 'Avg_years_teaching')]

In [ ]:
# Try imbalanced algorithm?